<% title = '管理端布局'; %>
<%- include('../compoents/default/_header.ejs'); %>

<div class="ez-sidebar ez-sidebar-left" style="width: 300px;">
    <%- include('../compoents/_menuTree.ejs'); %>
</div>
<script>
    $('.ez-sidebar-left').scrollWheel();
    $('.menuTree').menuTree();
</script>
<div class="ez-sidebar ez-sidebar-right">
    right
</div>
<div class="ez-container">
    <button class="ez btn btn-primary" onclick="ez.iframeTabs.close()">关闭当前窗口</button>
    <button class="ez btn btn-primary" onclick="ez.iframeTabs.open('../test/index.html')">新开标签</button>
    <button class="ez btn btn-primary" onclick="ez.iframeTabs.open('../table/table.html', '', true)">后台打开</button>
    <br>
    <br>
    <button id="imageView" class="ez btn btn-primary">看图</button>
    <br>
    <br>
    <button id="play" class="ez btn btn-primary" data-src="/static/media/intro.mp3" data-title="这里是标题">播放</button>

    <% for(var i = 0; i < 1; i++){ %>
        <p><%- i %> test</p>
        <div style="margin: 20px; background-color: #fff;">容器</div>
    <% } %>

</div>
<script>
    $('.ez-container').fixedContainer();
</script>

<%- include('../compoents/default/_footer.ejs'); %>
<script>
    var data = [
        {title: '瓶子', src: 'https://hbimg.huabanimg.com/e36a6b89ae2adf820058e5f1b2a42f826d3f4a7412b18-FTUAiR_fw658'},
        {
            title: '瞪眼猫瞪眼猫瞪眼猫瞪眼猫瞪眼猫瞪眼猫瞪眼猫瞪眼猫',
            src: 'https://hbimg.huabanimg.com/041ece85a1ced2afc7d9017c4e270861a1252d562c553-MXPCEN_fw658'
        },
        {title: '女人', src: 'https://hbimg.huabanimg.com/ae6d81cd174f79ed50c54403fcb42098cfd196d215986-yoqOrw_fw658'},
        {title: '猫', src: 'https://hbimg.huabanimg.com/60ae102b32d9a3d9c8fb7903c4e9498629964da87758a-NcCCQ2_fw658'},
        {title: '动漫', src: 'https://hbimg.huabanimg.com/6e9296d567acf17600a2408e9860a53daf9e172fd9eb5-aqRXKD_fw658'},
    ];
    var cfg = {
        keyboard: false,
        headToolbar: ['close'],
        fixedModalPos: true,
        fixedContent: false,
        footToolbar: ['zoomIn', 'zoomOut', 'prev', 'next', 'rotateRight'],
    }
    $('#imageView').on('click', function () {
        top.ez.imageView(data)
    });

    // $('#play').on('click', function () {
    //     ez.audioPlayer();
    // });
    // $('#play').audioPlayer();
    $('#play').on('click', function () {
        var src = $(this).data('src') || '';
        var title = $(this).data('title') || '';
        top.ez.audioPlayer(src, title);
    });

</script>
