.ez-table-list {
    width: 100%;
    overflow: auto;
    &-table {
        display: table;
        border-collapse: collapse;
        //table-layout: fixed;
    }
    //&-col {
    //    display: table-column;
    //    //position: fixed;
    //    width: 100%;
    //}
    &-header {
        display: table-header-group;
        font-weight: bold;
    }
    &-row {
        display: table-row;
        overflow: auto;
        position: relative;
    }
    &-cell {
        display: table-cell;
        border: 1px solid #ccc;
        white-space: nowrap;
        overflow: hidden;
        //text-overflow: ellipsis;
    }
}
