.ez {
    $borderColor: color('grey', 'l2');

    &.table {
        font-size: 14px;
        border-collapse: collapse;
        color: color('grey', 'd4');

        th,
        td {
            line-height: 34px;
            padding: 4px 15px;
        }

        th {
            color: color('grey', 'd3');
            text-align: left;
            background-color: color('grey', 'l4');
        }

        &-line {

            th,
            td {
                border-bottom: 1px solid $borderColor;
            }
        }

        &-vline {

            th,
            td {
                border-right: 1px solid $borderColor;

                &:last-child {
                    border-right: 0;
                }
            }
        }

        &-border {
            border: 1px solid $borderColor;
        }

        &-stripe {
            tbody tr:nth-child(odd) {
                background-color: color('grey', 'l5');
            }
        }

        &-hover {
            tr {

                &:hover,
                &.hover {

                    th,
                    td {
                        background-color: color('grey', 'l3');
                    }
                }
            }
        }

        &-block {
            width: 100%;
        }

        // &-fixed {
        //     table-layout: fixed;

        //     th,
        //     td {
        //         overflow: auto;
        //         white-space: nowrap;
        //     }
        // }

        &-sm {

            th,
            td {
                line-height: 26px;
                padding: 3px 10px;
            }
        }

        &-xs {

            th,
            td {
                line-height: 20px;
                padding: 2px 5px;
                font-size: 12px;
            }
        }

        &-lg {

            th,
            td {
                line-height: 42px;
                padding: 4px 20px;
            }
        }

        $bgColor: ('primary': color('blue', 'l5'),
        'secondary': color('light-blue', 'l5'),
        'success': color('green', 'l5'),
        'warning': color('orange', 'l5'),
        'danger': color('red', 'l5'),
        );

        $hoverColor: ('primary': color('blue', 'l4'),
        'secondary': color('light-blue', 'l4'),
        'success': color('green', 'l4'),
        'warning': color('orange', 'l4'),
        'danger': color('red', 'l4'),
        );

        $borderColor: ('primary': color('blue', 'l4'),
        'secondary': color('light-blue', 'l4'),
        'success': color('green', 'l4'),
        'warning': color('orange', 'l4'),
        'danger': color('red', 'l4'),
        );

        @each $type in $types {
            &-#{$type} {
                @if map-has-key($borderColor, $type) {
                    border-color: map-get($borderColor, $type);

                    &.table-hover {
                        tr {

                            &:hover,
                            &.hover {

                                th,
                                td {
                                    background-color: map-get($hoverColor, $type);
                                }
                            }

                        }
                    }

                    &.table-stripe {
                        tbody tr:nth-child(odd) {
                            background-color: map-get($bgColor, $type);
                        }

                    }

                    th {
                        background-color: map-get($bgColor, $type);
                    }

                    th,
                    td {
                        border-color: map-get($borderColor, $type);
                    }
                }
            }
        }


    }

}