//临时
.ez.role {
    width: 100%;
    margin: 0;
    display: inline-block;
    border-right: 1px solid color('grey', 'l2');
    padding: 0;
    list-style-type: none;
    vertical-align: middle;
    line-height: 1;
    background-color: color('shades', 'white');
    flex: 1;
    &-item {
        border: 1px solid color('grey', 'l2');
        border-width: 1px 0 1px 1px;
        padding: 0;
        margin: -1px;
        font-size: 0;
        display: flex;
        label {
            //width: 200px;
            border-right: 1px solid color('grey', 'l2');
            vertical-align: middle;
            padding: 6px;
            line-height: 1.6;
            font-size: 14px;
            display: flex;
            align-items: center;
            &:hover {
                background-color: color($base-color, 'l5');
            }
            input {
                vertical-align: middle;
            }
        }
    }
}
