.ez {

    @each $color_name,
    $color in $colors {

        @each $color_type,
        $color_value in $color {
            @if $color_type=="base" {
                &.text-#{$color_name} {
                    color: $color_value;
                }
            }

            @else if $color_name !="shades" {
                &.text-#{$color_name}.text-#{$color_type} {
                    color: $color_value;
                }
            }
        }
    }

    @each $color,
    $color_value in $shades {
        &.text-#{$color} {
            color: $color_value;
        }
    }
}