<% title = '表格列表'; %>
<%- include('../compoents/default/_header.ejs'); %>
<%
var table = {
    header: [
        {field: 'id', title: '编号'},
        {field: 'code', title: '服务号'},
        {field: 'company', title: '所属企业'},
        {field: 'agent', title: '所属机构'},
        {field: 'site', title: '归属落地'},
        {field: 'address', title: '服务器地址'},
    ],
    body: [
        {
            id: 'BC1909090542555642',
            code: '111111',
            company: '北京几克餐饮管理有限公司【beijingjike】',
            agent: '山东中呼信息科技有限公司【sdzhonghu】',
            site: '杭州电信',
            address: '杭州新增服务器'
        },
        {
            id: 'BC1909071014379811',
            code: '4000661975',
            company: '山东省菏泽信息工程学校【4000661975】',
            agent: '山东咕果信息技术有限公司【guguo】',
            site: '盘锦联通',
            address: ''
        },
        {
            id: 'BC1909060324338145',
            code: '4009915525',
            company: '黑龙江厚东科技有限公司【houdongkeji】',
            agent: '山东中呼信息科技有限公司【sdzhonghu】',
            site: '杭州电信',
            address: '杭州新增服务器'
        },
        {
            id: 'BC1909060107381625',
            code: '4006662087',
            company: '上海克骏文化传播有限公司【kejun】',
            agent: '山东中呼信息科技有限公司【sdzhonghu】',
            site: '盘锦联通',
            address: '盘锦新增服务器'
        },
    ]
}
%>
<div id="tableList" class="ez-table-list"></div>
<script>
    $('#tableList').ez_table_list({
        data: {
            header: [
                {field: 'address', title: '服务器地址'},
                {field: 'id', title: '编号'},
                {field: 'code', title: '服务号'},
                {field: 'company', title: '所属企业'},
                {field: 'agent', title: '所属机构'},
                {field: 'site', title: '归属落地', width: 100},
                {field: '_category', title: 'category'},
                {field: '_type', title: 'type'},
            ],
            body: [
                {
                    id: 'BC1909090542555642',
                    code: '111111',
                    company: '北京几克餐饮管理有限公司【beijingjike】',
                    agent: '山东中呼信息科技有限公司【sdzhonghu】',
                    site: '杭州电信',
                    address: '杭州新增服务器',
                    _category: 'A',
                    _type: '1',
                },
                {
                    id: 'BC1909071014379811',
                    code: '4000661975',
                    company: '山东省菏泽信息工程学校【4000661975】',
                    agent: '山东咕果信息技术有限公司【guguo】',
                    site: '盘锦联通',
                    address: '',
                    _category: 'B',
                    _type: '2',
                },
                {
                    id: 'BC1909060324338145',
                    code: '4009915525',
                    company: '黑龙江厚东科技有限公司【houdongkeji】',
                    agent: '山东中呼信息科技有限公司【sdzhonghu】',
                    site: '杭州电信',
                    address: '杭州新增服务器',
                    _category: 'C',
                    _type: '3',
                },
                {
                    id: 'BC1909060107381625',
                    code: '4006662087',
                    company: '上海克骏文化传播有限公司【kejun】',
                    agent: '山东中呼信息科技有限公司【sdzhonghu】',
                    site: '盘锦联通',
                    address: '盘锦新增服务器',
                    _category: 'D',
                    _type: '4',
                },
            ]
        },
        // selected: ['BC1909071014379811', 'BC1909060107381625'],
        sort: ['code', 'company'],
        hideFields: ['id'],
        clickSelected: true,
        multiple: 'option',
        btns: [
            {
                title: '按钮111',
                // className: ['ez-btn-danger', 'ez-btn-sm'],
                state: function (btn, selected) {
                    var s = this;
                    if(selected.length === 0){
                        return 'disabled';
                    }
                    if(s.selectedExistence('id', ['BC1909071014379811'])){
                        return 'disabled';
                    }
                    if(s.selectedExistence('address', ['杭州新增服务器'])){
                        return 'primary';
                    }
                },
                click: function (btn, selected) {
                    console.log('click1');
                }
            },
            {
                title: '按钮222',
                state: function (btn, selected) {
                    if(selected.length === 0){
                        return 'disabled';
                    }
                },
                click: function (btn, selected) {
                    console.log('click2');
                }
            },
        ]
    });
</script>

<!--<div class="ez-table-list">-->
<!--    <table class="ez-table ez-table-block ez-table-border ez-table-line ez-table-vline ez-table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th><i class="remixicon-list-settings-line"></i></th>-->
<!--            <% table.header.forEach(function(item){ %>-->
<!--                <th>-->
<!--                    <i class="remixicon-more-2-line"></i>-->
<!--                    <%- item.title %>-->
<!--                </th>-->
<!--            <% }) %>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <% table.body.forEach(function (item) { %>-->
<!--            <tr>-->
<!--                <td><input type="checkbox" name="" id=""></td>-->
<!--                <% table.header.forEach(function (header) { %>-->
<!--                    <td>-->
<!--                        <%- item[header.field] %>-->
<!--                    </td>-->
<!--                <% }) %>-->
<!--            </tr>-->
<!--        <% }) %>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<%- include('../compoents/default/_footer.ejs'); %>
<script>

</script>
