<% title = '表格列表'; %>
<%- include('../compoents/default/_header.ejs'); %>
<div class="ez-table-list">
    <div class="ez-table-list-table">
        <div class="ez-table-list-header">
            <div class="ez-table-list-row">
                <% for(var cell = 0; cell < 10; cell++){ %>
                    <div class="ez-table-list-cell">
                        <% for(var i = 0; i <= cell; i++){ %>
                            <%- i + cell %>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
        <% for(var row = 0; row < 60;row++) { %>
            <div class="ez-table-list-row">
                <% for(var cell = 0; cell < 10; cell++){ %>
                    <div class="ez-table-list-cell">
                        <% for(var i = 0; i <= row + cell; i=i+5){ %>
                            <%- row + cell %>
                        <% } %>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
<%- include('../compoents/default/_footer.ejs'); %>
