<form action="">
    <div class="ez-form-row">
        <div class="ez-form-title">_id</div>
        <div class="ez-form-content">
            <div class="ez-form-flex">
                <input type="text" name="_id" class="ez-form-control">
            </div>
        </div>
    </div>
    <div class="ez-form-row">
        <div class="ez-form-title">类型</div>
        <div class="ez-form-content">
            <div class="ez-form-flex">
                <select name="type" class="ez-form-control">
                    <option value="1">法人啊</option>
                    <option value="2">公司啊</option>
                </select>
            </div>
        </div>
    </div>

    <div class="ez-form-row">
        <div class="ez-form-title">电话</div>
        <div class="ez-form-content">
            <div class="ez-form-flex">
                <input type="text" name="number" class="ez-form-control">
            </div>
        </div>
    </div>

    <div class="ez-form-row">
        <div class="ez-form-title">图片</div>
        <div class="ez-form-content">
            <div class="ez-form-flex">
                <span class="ez-form-addon">￥</span>
                <input type="text" name="picture" class="ez-form-control">
                <span class="ez-form-addon">.00</span>
            </div>
        </div>
    </div>

</form>
