<form action="">
    <div class="ez-form-row">
        <div class="ez-form-title">单选</div>
        <div class="ez-form-content">
            <div class="ez-form-flex">
                <select class="ez-form-control">
                    <option>请选择</option>
                    <option>请选择</option>
                </select>
            </div>
        </div>
    </div>

    <div class="ez-form-row">
        <div class="ez-form-title">多选</div>
        <div class="ez-form-content">
            <div class="ez-form-flex">
                <select class="ez-form-control" multiple>
                    <option>请选择</option>
                    <option>请选择</option>
                </select>
            </div>
        </div>
    </div>

    <div class="ez-form-row">
        <div class="ez-form-title">多选</div>
        <div class="ez-form-content">
            <div class="ez-form-select ez-form-flex">
                <div class="ez-form-control">
                    <%- include('./_select_multiple.ejs'); %>
                </div>
                <span class="ez-form-select-icon ez-form-addon"><i class="fa fa-caret-down"></i></span>
                <select class="ez-form-select-field" name="" multiple>
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>

    <div class="ez-form-row">
        <div class="ez-form-title"></div>
        <div class="ez-form-content">
            <button class="ez-btn ez-btn-primary">提交</button>
            <button class="ez-btn">取消</button>
        </div>
    </div>

</form>


