<dl class="ez-select">
    <dt class="ez-select-head">
        <span class="ez-form-label">绑定电话缴费凭证.png <i class="remixicon-close-circle-fill"></i></span>
        <span class="ez-form-label">营业执照.jpg <i class="remixicon-close-fill"></i></span>
        <span class="ez-form-label">彩铃音.mp3 <i class="remixicon-close-circle-fill"></i></span>
    </dt>
    <dd class="ez-select-body">
        <ul class="ez-tree">
            <li>营业执照复印件或照片</li>
            <li>法人身份证复印件或照片(正反面)</li>
            <li>经办人手持</li>
            <li>目的码承诺书</li>
        </ul>
    </dd>
</dl>
