<% title = '表单'; %>
<%- include('../compoents/default/_header.ejs'); %>

<h2>一行,标准</h2>
<div class="ez-form ez-form-inline ez-form-full">
    <%- include('./_select_linkage.ejs', {id: '1'}); %>
</div>
<hr>

<h2>一行,sm</h2>
<div class="ez-form ez-form-inline ez-form-full ez-form-sm">
    <%- include('./_select_linkage.ejs', {id: '2'}); %>

</div>
<hr>


<script>
    var lingage_1 = [
        {id: 1, pid: 0, title: '山东'},
        {id: 2, pid: 0, title: '河南'},
    ];
    var l1 = new ez.select($('#linkage_1_4'), {
        data: lingage_1,
        searchKeys: ['title', 'selected'],
        selected: [
            {id: 2, pid: 0, title: '河南'},
        ],
        choose: function () {
            l2.setData([
                {id: 3, pid: 0, title: '济南'},
                {id: 4, pid: 0, title: '青岛'},
                {id: 5, pid: 0, title: '潍坊'},
            ]);
            l3.setData([
                {id: 15, pid: 0, title: '奎文区'},
                {id: 16, pid: 0, title: '潍城区'},
                {id: 17, pid: 0, title: '高新区'},
            ]);
        }
    });

    var lingage_2 = [
        {id: 6, pid: 0, title: '郑州'},
        {id: 7, pid: 0, title: '开封'},
        {id: 8, pid: 0, title: '洛阳'},
    ];
    var l2 = new ez.select($('#linkage_1_5'), {
        data: lingage_2,
        selected: [
            {id: 1, pid: 0, title: '郑州'},
        ],
        searchKeys: ['title', 'selected'],
        choose: function () {
            l3.setData([
                {id: 9, pid: 0, title: '奎文区'},
                {id: 10, pid: 0, title: '潍城区'},
                {id: 11, pid: 0, title: '高新区'},
            ]);
        }
    });

    var lingage_3 = [
        {id: 1, pid: 0, title: '中原区'},
        {id: 2, pid: 0, title: '二七区'},
        {id: 3, pid: 0, title: '管城区'},
    ];
    var l3 = new ez.select($('#linkage_1_6'), {
        data: lingage_3,
        selected: [
            {id: 2, pid: 0, title: '二七区'},
        ],
        searchKeys: ['title', 'selected']
    });

</script>


<%- include('../compoents/default/_footer.ejs'); %>

