<% title = '表单'; %>
<%- include('../compoents/default/_header.ejs'); %>

<div id="tree" class="ez-tree">

</div>
<script>
    // $('#tree').ez_tree({
    //     data: [
    //         {id: 1, pid: 0, title: '营业执照复印件'},
    //         {id: 2, pid: 0, title: '法人身份证复印件'},
    //         {id: 3, pid: 0, selected: true, title: '经办人手持营业执照及身份证'},
    //         {id: 4, pid: 0, title: '中呼服务协议'},
    //         {id: 5, pid: 2, title: '22'},
    //         {id: 6, pid: 2, title: '23'},
    //         {id: 7, pid: 2, selected: true, title: '24'},
    //     ],
    //     // type: 'checkbox',
    // });
</script>

<h2>一行</h2>
<div class="ez-form ez-form-inline ez-form-full">
    <%- include('./_select.ejs'); %>
</div>
<hr>

<div class="ez-form ez-form-inline ez-form-full ez-form-sm">
    <%- include('./_select.ejs'); %>
</div>
<hr>


<script>
    $('.ez-form-sm').find('.ez-btn').addClass('ez-btn-sm');  //sm模式下按钮也调小
    var d = [
        {id: 1, pid: 0, title: '营业执照复印件'},
        {id: 2, pid: 0, title: '法人身份证复印件'},
        {id: 3, pid: 0, title: '经办人手持营业执照及身份证'},
        {id: 4, pid: 0, title: '中呼服务协议'},
        {id: 5, pid: 2, title: '22'},
        {id: 6, pid: 2, title: '23'},
        {id: 7, pid: 2, title: '24'},
    ];
    for(var i = 8; i < 50; i++){
        d.push({id: i, pid: 0, title: 'title_' + i})
    }
    $('.ez-form-select').eq(0).ez_form_select({
        selected_max: 0,
        data: [],
        selected: [
            {id: 3, pid: 0, title: '333经办人手持营业执照及身份证'},
        ],
        dataUrl: '/data/select_tree.json',
        // searchUrl: '/data/select_tree.json',
        searchKeys: ['title', 'selected']
    }).click();
    // $('.ez-form-select').eq(1).ez_form_select({
    //     data: [
    //         {id: 1, pid: 0, title: '男'},
    //         {id: 2, pid: 0, title: '女'},
    //         {id: 3, pid: 0, title: '保密'},
    //         {id: 4, pid: 0, title: '未知'},
    //         {id: 5, pid: 0, title: '不限'},
    //     ]
    // });
</script>


<%- include('../compoents/default/_footer.ejs'); %>

