<% title = '表单'; %>
<%- include('../compoents/default/_header.ejs'); %>

<h2>一行</h2>
<div class="ez-form ez-form-inline ez-form-full">
    <%- include('./_upload.ejs');%>
</div>
<hr>

<h2>分行</h2>

<div class="ez-form ez-form-sm">
    <%- include('./_upload.ejs');%>
</div>

<script>
    $('.form-sm').find('.btn').addClass('btn-sm');  //sm模式下按钮也调小

    $('.upload').last().data('multiple', 'true');
    $('.upload').ez_form_upload({
        url: '/data/upload.json',
        callback: function () {
            console.log(this);
            console.log(arguments);
        }
    });
</script>


<%- include('../compoents/default/_footer.ejs'); %>
