<ul class="menuTree">
    <li>
        <a>ceshi444 </a>
    </li>
    <li class="menuTree-open">
        <a>1 </a>
        <ul>
            <li class="menuTree-open"><a title="">首层导航</a><a
                        class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a>
                <ul>
                    <li><a title="">按键：0</a></li>
                    <li><a title="">按键：3</a></li>
                    <li><a title="">按键：4</a><a
                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                    <li><a title="">按键：6</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menuTree-open">
        <a>1 </a>
        <ul>
            <li class="menuTree-open"><a title="">首层导航</a><a
                        class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a>
                <ul>
                    <li><a title="">按键：0</a></li>
                    <li><a title="">按键：3</a></li>
                    <li><a title="">按键：4</a><a
                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                    <li><a title="">按键：6</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menuTree-open">
        <a>1 </a>
        <ul>
            <li class="menuTree-open"><a title="">首层导航</a><a
                        class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a>
                <ul>
                    <li><a title="">按键：0</a></li>
                    <li><a title="">按键：3</a></li>
                    <li><a title="">按键：4</a><a
                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                    <li><a title="">按键：6</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menuTree-open">
        <a>1 </a>
        <ul>
            <li class="menuTree-open"><a title="">首层导航</a><a
                        class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a>
                <ul>
                    <li><a title="">按键：0</a></li>
                    <li><a title="">按键：3</a></li>
                    <li><a title="">按键：4</a><a
                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                    <li><a title="">按键：6</a></li>
                    <li><a title="">按键：0</a></li>
                    <li><a title="">按键：3</a></li>
                    <li><a title="">按键：4</a><a
                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                    <li><a title="">按键：6</a></li>
                    <li>
                        <a title="">按键：0</a>
                        <ul>
                            <li class="menuTree-open"><a title="">首层导航</a><a
                                        class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a>
                                <ul>
                                    <li><a title="">按键：0</a></li>
                                    <li><a title="">按键：3</a></li>
                                    <li><a title="">按键：4</a><a
                                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                                    <li><a title="">按键：6</a></li>
                                    <li><a title="">按键：0</a></li>
                                    <li><a title="">按键：3</a></li>
                                    <li><a title="">按键：4</a><a
                                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                                    <li><a title="">按键：6</a></li>
                                    <li><a title="">按键：0</a></li>
                                    <li><a title="">按键：3</a></li>
                                    <li><a title="">按键：4</a><a
                                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                                    <li><a title="">按键：6</a></li>
                                    <li><a title="">按键：0</a></li>
                                    <li><a title="">按键：3</a></li>
                                    <li><a title="">按键：4</a><a
                                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                                    <li><a title="">按键：6</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a title="">按键：3</a></li>
                    <li><a title="">按键：4</a><a
                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                    <li><a title="">按键：6</a></li>
                    <li><a title="">按键：0</a></li>
                    <li><a title="">按键：3</a></li>
                    <li><a title="">按键：4</a><a
                                class="btn btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a></li>
                    <li><a title="">按键：6</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a>默认呼入规则 </a></li>
</ul>
