<script>
    // var d = new Date();
    // $('body').ez_watermark({
    //     watermark: '内部平台, 截屏数据严禁外传',
    //     watermark2: '操作人: 张三【' + d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + '】',
    // });
</script>
</body>

</html>
