<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/fontawesome/5.6.3/css/all.min.css">
    <link rel="stylesheet" href="/static/remixicon/1.2.2/remixicon.css">
    <link rel="stylesheet" href="/static/animate/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/static/nprogress/0.2.0/nprogress.css">
    <link rel="stylesheet" href="/css/ezUI.css">
    <script src="/static/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/nprogress/0.2.0/nprogress.js"></script>
    <script src="/js/ezUI.js"></script>
    <script src="/js/ezAdmin.js"></script>

</head>

<body>
