.ez.image-view {
    overflow: hidden;
    border: 1px solid color('grey', 'd4');
    background-color: #fff;
    position: absolute;
    //left: 50%;
    //top: 50%;
    user-select:none;
    img {
        display: block;
    }
    $size: 26px;
    &-icon {
        width: $size;
        height: $size;
        //display: block;
        background-color: color('grey', 'base');
        line-height: $size;
        text-align: center;
        margin: 0 auto;
        font-size: $size;
        position: relative;
        z-index: 10;
    }
    &-head {
        height: 32px;
        background-color: #eee;
        position: relative;
        z-index: 10;
    }
    &-body {
        position: relative;
        display: block;
        img {
            display: block;
        }
    }
    //&-foot {
    //    height: 32px;
    //    background-color: #ddd;
    //}
}
