.eza {
    $nav-width: 64px;
    $sub-nav-width: 220px;
    &.nav {
        width: $nav-width;
        height: 100%;
        overflow: hidden;
        background-color: color('grey', 'd4');
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }
    &.sub-nav {
        width: $sub-nav-width;
        height: 100%;
        overflow: hidden;
        background-color: color('grey', 'd3');
        position: fixed;
        top: 0;
        bottom: 0;
        left: $nav-width;
    }
    &.scroll-box {
        height: 100%;
        margin-right: -100px;
        overflow: auto;
    }
    &.main {
        overflow: auto;
        margin: 0 0 0 $nav-width+$sub-nav-width;
        background-color: color('grey', 'l5');
    }
}
@import "nav";
@import "sub-nav";
@import "main";
