$base-color: 'current';

html, body {
    background-color: color($base-color, 'l5');
}
.eza {
    $nav-width: 50px;
    $sub-nav-width: 170px;
    $header-height: 55px;

    &.nav {
        width: $nav-width;
        height: 100%;
        //overflow: hidden;
        padding-top: $header-height;
        background-color: color('grey', 'd4');
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        @import "nav";
    }

    &.sub-nav {
        width: $sub-nav-width;
        height: 100%;
        overflow: hidden;
        padding-top: $header-height;
        background-color: color('grey', 'd3');
        position: fixed;
        top: 0;
        bottom: 0;
        left: $nav-width;
        @import "sub-nav";
    }

    &.scroll-box-v {
        height: 100%;
        margin-right: -100px;
        overflow: auto;
        position: relative;
    }
    &.scroll-box-h {
        width: 100%;
        margin-bottom: -100px;
        overflow: auto;
        position: relative;
    }

    &.header {
        height: $header-height;
        background-color: color($base-color, 'base');
        position: relative;
        z-index: 2;
        @import "header";
    }

    &.main {
        clear: both;
        overflow: hidden;
        height: 100%;
        margin: 0 0 0 $nav-width+$sub-nav-width;
        background-color: color('grey', 'l4');
        @import "main";
    }
}

