$base-color: 'orange';

.eza {
    $nav-width: 50px;
    $sub-nav-width: 190px;

    &.nav {
        width: $nav-width;
        height: 100%;
        overflow: hidden;
        background-color: color('grey', 'd4');
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        @import "nav";
    }

    &.sub-nav {
        width: $sub-nav-width;
        height: 100%;
        overflow: hidden;
        background-color: color('grey', 'd3');
        position: fixed;
        top: 0;
        bottom: 0;
        left: $nav-width;
        @import "sub-nav";
    }

    &.scroll-box-v {
        height: 100%;
        margin-right: -100px;
        overflow: auto;
    }

    &.main {
        overflow: hidden;
        height: 100%;
        margin: 0 0 0 $nav-width+$sub-nav-width;
        background-color: color('grey', 'l4');
        @import "main";
    }
}

