&-logo {
    width: $nav-width + $sub-nav-width;
    line-height: $header-height;
    text-align: center;
    color: color('shades', 'white');
    font-size: 18px;
    a {
        text-decoration: none;
        color: color('shades', 'white');
    }
}
$height: 30px;
//右上角菜单区域
&-menu {
    text-align: right;
    //width: $nav-width + $sub-nav-width;
    height: $header-height - $height;
    line-height: $header-height - $height;
    //background-color: red;
    font-size: 12px;
    color: color($base-color, 'l4');
    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        display: inline;
        margin: 0 12px 0 0;
    }
    a {
        color: color($base-color, 'l4');
        text-decoration: none;
        &:hover {
            color: color($base-color, 'l5');
            text-decoration: underline;
        }
    }
}
//左右箭头
&-arrow {
    height: $height;
    line-height: $height;
    color: color($base-color, 'l5');
    background-color: color($base-color, 'd1');
    padding: 0 10px;
    cursor: pointer;
    &:hover {
        background-color: color($base-color, 'd2');
    }
}

&-tabs {
    height: $height;
    overflow: hidden;
    background-color: color($base-color, 'd1');
    padding: 0;
    font-size: 0;
    list-style-type: none;
    ul,li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    ul {
        float: left;
        background-color: color($base-color, 'base');
        white-space: nowrap;
        position: relative;
    }
    li {
        margin: 0;
        height: $height;
        padding: 0 14px;
        line-height: $height;
        display: inline-block;
        font-size: 14px;
        color: color($base-color, 'l5');
        background-color: color($base-color, 'd1');
        //position: relative;
        cursor: pointer;

        &:hover {
            background-color: color($base-color, 'd2');

            .fa-times {
                color: color($base-color, 'l2');
            }
        }

        &.current {
            color: color('grey', 'd3');
            background-color: color($base-color, 'l5');

            .fa-times {
                color: color($base-color, 'l4');
            }
        }

        .fa-times {
            color: color($base-color, 'base');
            line-height: 1;
            margin-left: 12px;
            //position: absolute;
            //top: 2px;
            //right: 0px;

            &:hover {
                color: color($base-color, 'd4');
            }
        }


    }
}

