.eza.nav {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        display: block;
        a {
            display: block;
            color: #fff;
            line-height: 64px;
        }
    }

}