ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    display: block;
    width: $nav-width;
    a {
        display: block;
        color: color('grey', 'l3');
        text-align: center;
    }
}
