&-box {

}

&-header {
    width: $sub-nav-width;
    height: 64px;
    background-color: color('grey', 'd3');
}

&-title {
    color: color('shades', 'white');
    font-size: 20px;
    line-height: 22px;
    padding: (64px - 22px)/2;
}

&-body {
    width: $sub-nav-width;

    dl {
        //border: 1px solid #d00;
        font-size: 14px;
        margin: 6px;

        dt {

            a {
                display: block;
                border-radius: 3px;
                //line-height: 24px;
                padding: 7px;
                text-decoration: none;

                &:hover {
                    background-color: color('grey', 'd2');
                }
            }
        }
    }


}

ul {
    border: 1px solid #0d0;
}

a {
    color: color('grey', 'l5')
}
