&-box {

}

&-header {
    width: $sub-nav-width;
    height: 64px;
    background-color: color('grey', 'd3');
}

&-title {
    color: color('shades', 'white');
    font-size: 16px;
    line-height: 1;
    padding: (64px - 22px)/2;
    border-bottom: 1px solid color('grey', 'd2');
    i {
        font-size: 16px;
        vertical-align: middle;
    }
}

dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

&-body {
    width: $sub-nav-width;

    dl {
        //border: 1px solid #d00;
        font-size: 14px;
        margin: 6px;

        &:hover {
            background-color: color('grey', 'd2');
            border-radius: 3px;
        }
    }

    dt {
        font-weight: normal;
        a {
            display: block;
            padding: 10px 12px;
            color: color('grey', 'l5');
            cursor: pointer;
        }
    }

    dd {
        overflow: hidden;
        display: none;
        padding: 0 0 10px;
    }

    ul {
        margin: 0 0 0 16px;
        font-size: 13px;
    }

    li {
        overflow: hidden;

        a {
            display: inline-block;
            padding: 3px 6px;
            line-height: 1.6;
            color: color('grey', 'l1');
            cursor: pointer;

            &:hover {
                color: color($base-color, 'l2');
            }

            &.current {
                color: color($base-color, 'l2');
            }
        }

    }

    dl.current {
        background-color: color('grey', 'd2');
        border-radius: 3px;

        dd {
            display: block;
        }
    }

}


