.ez {
    $ez: &;
    &-row {
        @extend %clear;

        @for $i from 1 through 15 {
            &-span#{$i} {
                margin: -#{$i}px;

                .col {
                    padding: #{$i}px;
                }
            }

        }

        &-span {
            margin: -4px;

            #{$ez}-col {
                padding: 4px;
            }
        }
    }

    &-col {
        $i: 1;
        float: left;

        @while($i <=12) {
            &#{$i} {
                width: 100% / 12 * $i;
            }

            $i: $i+1;
        }
    }
}
