.ez {
    $ez: &;

    &-btn {
        display: inline-block;
        background-color: color('grey', 'l5');
        color: color('grey', 'd4');
        cursor: pointer;
        border: 1px solid color('grey', 'l2');
        font-size: 14px;
        line-height: 1;
        padding: 7px 10px; //9px 15px;
        vertical-align: middle;

        &:hover {
            opacity: 0.8;
        }

        &-sm {
            padding: 6px 8px;
            font-size: 12px;
        }

        &-xs {
            padding: 4px 6px;
            font-size: 12px;
        }

        &-lg {
            padding: 8px 14px;
            font-size: 16px;
        }

        &-radius {
            border-radius: 4px;
        }

        &-round {
            border-radius: 14px;
        }

        &-full {
            display: block;
            width: 100%;
        }

        &-primary {
            background-color: color('blue', 'd1');
            color: color('shades', 'white');
            border: 1px solid color('blue', 'd2');

            &:hover {
                color: color('shades', 'white');
            }
        }

        &-secondary {
            background-color: color('light-blue', 'd1');
            color: color('shades', 'white');
            border: 1px solid color('light-blue', 'd2');

            &:hover {
                color: color('shades', 'white');
            }
        }

        &-success {
            background-color: color('green', 'd1');
            color: color('shades', 'white');
            border: 1px solid color('green', 'd2');

            &:hover {
                color: color('shades', 'white');
            }
        }

        &-warning {
            background-color: color('orange', 'd1');
            color: color('shades', 'white');
            border: 1px solid color('orange', 'd2');

            &:hover {
                color: color('shades', 'white');
            }
        }

        &-danger {
            background-color: color('red', 'd1');
            color: color('shades', 'white');
            border: 1px solid color('red', 'd2');

            &:hover {
                color: color('shades', 'white');
            }
        }

        &-link {
            background-color: color('shades', 'transparent');
            color: color('blue', 'd2');
            border: 1px solid color('shades', 'transparent');

            &:hover {
                color: color('blue', 'd2');
                text-decoration: underline;
            }
        }

        &-disabled {
            //background-color: color('grey', 'l4');
            //color: color('grey', 'base');
            //border: 1px solid color('grey', 'l4');
            cursor: not-allowed;
            opacity: 0.3;

            &:hover {
                opacity: 0.2;
            }
        }

        &-group {
            display: inline-block;
            vertical-align: middle;

            #{$ez}-btn {
                //flex: 1;
                float: left;
                //margin: 0 0 0 -1px;
                border-right-width: 0;
                &:last-child {
                    border-right-width: 1px;
                }
            }

            &-radius {
                #{$ez}-btn {
                    &:first-child {
                        border-radius: 4px 0 0 4px;
                    }

                    &:last-child {
                        border-radius: 0 4px 4px 0 ;
                    }
                }
            }
            &-round {
                #{$ez}-btn {
                    &:first-child {
                        border-radius: 14px 0 0 14px;
                    }

                    &:last-child {
                        border-radius: 0 14px 14px 0 ;
                    }
                }
            }
            &-full {
                display: flex;
                #{$ez}-btn {
                    flex: 1;
                }
            }
        }

    }

}
