.ez-select {
    margin: 0;
    padding: 0;
    border: 1px solid color('grey', 'l2');
    position: relative;
    &-head {
        min-height: 34px;
        vertical-align: middle;
     }
    &-body {
        display: none;
        opacity: 0.3;
        overflow: hidden;
        margin: 0 6px;
        padding: 0;
        background-color: #fff;
        border: 1px solid color('grey', 'l2');
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
    }

}
