//公共，通用
$types: ('primary', 'secondary', 'success', 'warning', 'danger', 'link', 'disabled');
@import '../../node_modules/normalize.css/normalize';
@import './common/common';
@import './color/color';

html,
body {
    background-color: color('shades', 'white');
}

.ez {
    &.pull {
        &-right {
            float: right;
        }
        &-left {
            float: left;
        }
    }
    &.clearfix {
        @extend %clear;
    }
}

//文字颜色
@import './color/text';
//背景颜色
@import './color/background';

//栅格
@import './layout/grid';

//按钮
@import './button/button';

//表格
@import './table/table';

//admin
@import "./admin/admin";