//公共，通用
$types: ('primary', 'secondary', 'success', 'warning', 'danger', 'link', 'disabled');
$common-color: 'grey';
$base-color: 'current';
@import '../../node_modules/normalize.css/normalize';
@import './common/common';
@import './color/color';

* {
    box-sizing: border-box;
}

html,
body {
    background-color: color('shades', 'white');
}

.ez,
.eza {
    &-text {
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
    }
    &-pull {
        &-right {
            float: right;
        }

        &-left {
            float: left;
        }
    }

    &-clearfix {
        @extend %clear;
    }

    &-fixed {
        position: fixed;
    }

    &-cursor {
        &-pointer {
            cursor: pointer;
        }

        &-search {
            cursor: zoom-in;
        }
        &-move {
            cursor: move;
        }
        &-drag {
            cursor: grab;
        }
        &-draging {
            cursor: grabbing;
        }


        &-disabled {
            cursor: not-allowed;
        }
    }

    &-noselect {
        user-select: none;
    }
}

//文字颜色
//@import './color/text';
//背景颜色
//@import './color/background';

//栅格
@import './layout/grid';
@import "./layout/avg";
//布局
@import "./layout/layout";
@import "./form/form"; //表单
@import "./tree/tree"; //树结构
//按钮
@import './button/button';

//表格
@import './table/table';
@import "./table/list";


//tree
@import "./menu-tree/menu-tree";

//图片预览
@import './image-view/image-view';
//播放器
@import "./audio-player/audio-player";

//admin
@import "./admin/admin";
//权限
@import "role/role";
//水印
@import "watermark/watermark";


